<html class="newgamebody">
<body>
<div>
<p style="width:100%;text-align: center;color: red;font-size: 20px">You entered Incorrect values</p>
</br>
</br>
<%= button_to "new game", newgame_path, :method => "get" , class: "follow-button col2"%>
</div>
</body>
</html>